* {
    font-family:'Roboto', sans-serif;
    font-weight:lighter;
}
body {
    margin:0;
    padding:0;
    background-color:#cdd3e1;
    background-repeat:no-repeat;
    background-image:url('../images/bg.png');
}
/*======================================================GERAL======================================================*/
#geral {
    display:flex;
    justify-content:center;
    margin-top:150px;
    margin-bottom:100px;
}
.container {
    display:flex;
    justify-content:space-between;
    width:930px;
}
.main {
    display:flex;
    justify-content:center;
    flex:1;
}
/*======================================================REGISTER THUMBNAIL======================================================*/
.forgot-password-thumbnail {
    border-top-left-radius:6px;
    border-bottom-left-radius:6px;
    background-color:#eff2f7;
}
.forgot-password-thumbnail img {
    padding:80px;
    padding-left:120px;
    padding-right:120px;
}
/*======================================================FORGOT PASSWORD FORM======================================================*/
.column {
    flex-direction:column;
}
.forgot-password-form { /*área do formulario*/
    max-width:465px;
    padding:38px 33px;
    display:flex;
    background-color:#FFF;  
    border-top-right-radius:6px;
    border-bottom-right-radius:6px;
}
.forgot-password-title { /*Titulo*/
    color:#262626;
    font-size:25px;
}
.forgot-password-text { /*Subtítulo*/
    color:#626262;
    font-size:17px;
    margin-top:13px;
}
/*======================================================FORM======================================================*/
form {
    display:flex;
    flex-direction:column;
    margin-top:32px;
}
/*Imput de usuario*/
input[type=email]{
    padding:12px;
    color:#626262;
    font-size:14px;
    border:1px solid #CCCCCC;
    border-radius:6px;
    outline:none;
}
.buttons {
    display:flex;
    justify-content:space-between;
    margin-top:34px;
}
.buttons a {
    color:#4fc3f7;
    font-size:16px;
    text-decoration:none;
    padding:12px 16px;
    border-radius:6px;
    border:1px solid #4fc3f7; 
}
.buttons button {
    border:none;
    padding:14px 29px;
    border-radius:6px;
    color:#FFF;
    font-size:16px;
    background-color:#4fc3f7;
}
/*======================================================RESPONSIVIDADE======================================================*/
@media (max-width:960px) {
    .forgot-password-thumbnail {
        margin-left:20px;
    }
    .forgot-password-form {
        margin-right:20px;
    }
    .forgot-password-thumbnail img {
        width:150px;
    }
    .forgot-password-title {
        font-size:22px;
    }
    .forgot-password-text {
        font-size:16px;
    }
}
/*================800PX================*/
@media (max-width:800px) {
    #geral {
        margin-top:60px;
        margin-bottom:60px;
    }
    .main {
        margin-top:50px;
        align-items:center;
        flex-direction:column;
    }
    .forgot-password-thumbnail {
        display:none;
    }
    .forgot-password-text {
        font-size:14px;
    }
    .forgot-password-form {
        align-items:center;
        border-bottom-left-radius:6px;
        border-top-right-radius:0px;
        border-bottom-right-radius:6px;
        margin-left:5px;
        margin-right:5px;
    }
    .buttons a {
        text-align:center;
        margin-right:30px;
    }
}